/* 
 * generic stuff 
 */

body {
background-color: #f4f1ee;
color:#696969; 
}

a {
color:#646e2f;
text-decoration:none;
}

a:hover {
color:#111;
}

hr {
color:#cccccc;
background-color:#cccccc;
height:3px;
border:0;
}

/* 
 * Status Messages 
 * notice, error, success
 */

.notice, .error, .success {
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
font-size:12px;
padding:2px 3px;
}

.notice a, .error a, .success a{
color:#993300;
text-decoration:none;
font-weight:bold;
padding:0 3px;
}

.notice {
border:1px solid #e7df8a;
color:#827a30;
padding-left:30px;
background:url(../images/icons/notice-trans.png) 9px 3px no-repeat #ffffcc;
}

.error {
border:1px solid #eebeb1;
color:#993300;
padding-left:30px;
background:url(../images/icons/error-trans.png) 9px 4px no-repeat #ffe6db;
}

.success {
border:1px solid #c7ea8b;
color:#398c33;
padding-left:30px;
background:url(../images/icons/success-trans.png) 9px 3px no-repeat #e8fecd;
}

/*
 * Wrapper class for non boxed pages
 */

.wrapper{
background-color: #ffffff;
border-bottom: 2px solid #f6f6f6;
border-right: 2px solid #f6f6f6;
border-left: 2px solid #f6f6f6;
padding: 5px 20px 20px;
}

/*
 * Sbox (small box) 
 */

.sbox {
background:#fff;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
box-shadow:0 1px 2px rgba(0,0,0,0.2);
-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
margin:30px 0;
padding: 20px;
}

/*
 * Mainbox (for main template)
 */

.mainbox {
border-left:2px solid #ebebeb;
border-right:2px solid #ebebeb;
border-bottom:4px solid #ebebeb;
}

/*
 * Mainleft / Mainright to float main elements
 * left or right.
 */

.mainleft{
margin:0px;
float:left;
}

.mainright{
margin:0px;
float:right;
}

/*
 * Head for the main elements
 */

.mainhead {
height:40px;
background-color:#f5f5f5;
border-top:2px solid #ebebeb;
border-bottom:4px solid #ebebeb;
color:#373737;
font:13pt Georgia, "Times New Roman", Times, serif;
font-style:italic;
line-height:40px;
padding:0 0 0 15px;
}

/*
 * Main text
 */

.maintext {
padding:22px;
}

.maintext img{
float: left;
padding-top: 5px;
padding-right: 20px;
padding-bottom: 10px;
}

.mainright .maintext {
padding:12px;
}

.mainright .mainbox {
margin:0 0 15px 0;
}

/*
 * Navigation
 */

.nav {
height:80px;
overflow:hidden;
margin:0 0 20px 0;
}

.nav ul{
list-style:none;
margin:0px;
padding:0px;
}

.nav ul li{
float:left;
width:100px;
text-align:center;
}

.nav ul li a{
display:block;
float:left;
padding:16px 0;
width:100px;
font-size:10pt;
font-weight:bold;
font-style:italic;
}

.nav ul li.current a{
color:#000000;
font-style:normal;
}

.nav ul li img{
display:block;
margin: 2px auto;
}


.nav ul li a img {
filter:alpha(opacity=25);
-moz-opacity:0.25;
-khtml-opacity: 0.25;
opacity: 0.25;
}

.nav ul li a:hover img {
filter:alpha(opacity=100);
-moz-opacity:1;
-khtml-opacity: 1;
opacity: 1;
}

.nav ul li.current a img{
filter:alpha(opacity=100);
-moz-opacity:1;
-khtml-opacity: 1;
opacity: 1;
}

/*
 * Form related style section
 * responsible for labels and input fields
 */

label {
font:10pt Georgia, "Times New Roman", Times, serif;
font-style:italic;
display:block;
color:#696969;
}

input.text {
display:block;
margin:5px 0 10px 0;
background:#f7f7f7;
border:1px solid #cccccc;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
width:95%;
padding:4px;
}

input.submit {
display: block;
height:27px; 
width: 70px;
background-color: #9a6059;
padding:0px 8px 0px 8px; 
font:bold 10pt Arial, Helvetica, sans-serif; 
text-align:center; 
white-space:nowrap; 
color:#fff;
cursor:pointer; 
text-transform:uppercase; 
border: 1px dotted #cfb5b2; 
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}

/*
 * Tables
 */

table {
border:1px solid #e8e6e4;
border-bottom:none;
}

.table {
margin:30px 0 0 0;
padding:0px;
}

thead {
color:#666;
font:11pt Georgia, "Times New Roman", Times, serif;
font-style:italic;
padding:0 0 0 15px;
}

td, thead th {
padding:10px 20px;
border-bottom:1px solid #e8e6e4;
background-color: #ffffff;
}

.even td {
background-color:#fdfdfc !important;
}

td img {
padding:0 5px 0 0;
}

/*
 * Post class for postings like
 * status updates, news and so on.
 */

.post {
margin:-12px;
padding:18px 12px 8px 12px;
border-bottom:1px dashed #dedede;
}

.post a{
font-weight:bold;
}

.post p{
padding:0px;
margin:0px;
font-size:10pt;
}

/*
 * Footer
 */

.footer {
padding:5px 0px 5px 10px;
color:#818180;
font-size:10pt;
}

/*
 * Everything in this section is responsible for
 * the very basic layout setting,
 */

.fullwidth_box {
	width: 540px;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
}

.fullwidth {
	padding: 0;
	width: 940px;
	margin-left:auto;
	margin-right:auto;
}

.width_20 {width: 20%; display: inline;}
.width_25 {width: 25%; display: inline;}
.width_30 {width: 30%; display: inline;}
/* Firefox has troubles to display everything right
 * so 35% has to be 34% */
.width_35 {width: 34%; display: inline;}
.width_40 {width: 40%; display: inline;}
.width_45 {width: 45%; display: inline;}
.width_50 {width: 50%; display: inline;}
.width_55 {width: 55%; display: inline;}
.width_60 {width: 60%; display: inline;}
.width_65 {width: 65%; display: inline;}
.width_70 {width: 70%; display: inline;}
.width_75 {width: 75%; display: inline;}
.width_80 {width: 80%; display: inline;}
.width_100 {width: 100%; display: inline;}
