<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content=
"text/html; charset=utf-8" />
<title>Dashboard</title>
<link rel="stylesheet" type="text/css" href="/css/intercensor.css" />
</head>
<body>

<ul id="navigation">
    [% FOREACH item IN ['dashboard', 'challenges', 'logout'] %]
    <li>
        [% IF page == item %]
            <a href="/[% item %]" id="nav-[% item %]" class="nav-selected">
                [% item FILTER ucfirst %]
            </a>
        [% ELSE %]
            <a href="/[% item %]" id="nav-[% item %]">
                [% item FILTER ucfirst %]
            </a>
        [% END %]
    </li>
    [% END %]
</ul>

<div class="maincol maincol-left">
    [% content %]
</div>

<div class="maincol maincol-right">
    <div class="mainbox" id="status">
        <h2>Status</h2>
        [% IF current_challenge %]
        <p class="infobox notice">You are currently playing the <em>[% current_challenge.name %]</em> level.</p>
        [% END %]
        <p class="infobox success">You are now logged in as <em>[% session.user.name %]</em>.</p>
    </div>

    <div class="mainbox" id="latest-challenges">
        <h2>Latest challenges</h2>

        [% FOREACH c in latest_challenges %]
        <h3>[% c.name %]</h3>
        <img src="/images/challenges/small/[% c.id %].png" alt="[% c.name %]" />
        <address>[% c.solved_at %]</address>
        [% END %]
    </div>
</div>

<address id="attribution">Intercensor Project created by the <a href="/about">Intercensor Team</a></address>

</body>
</html>
