.maincol {
	display: table-cell;
	padding-top: 1em;
}

.maincol-left {
}

.maincol-right {
	padding-left: 1em;
	width: 35%;
}

.mainbox {
	border: 2px solid #ebebeb;
	border-bottom-width: 4px;

	padding: 0 1em 1em 1em;
	margin-bottom: 1em;
}

.mainbox h2 {
	font-size: 1.25em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: normal;
	color: #303030;

	background-color: #f5f5f5;
	border-bottom: 4px solid #ebebeb;
	margin: 0 -0.8em 1em -0.8em;
	padding: 0.5em 0.8em;
}

