/* generic form styles */

.question {
    font-weight: bold;
}

label {
	font-style: italic;
}

input {
	height: 1.5em;
	margin: 0.5em 0;
	font-size: 1em;
	     border-radius: 5px;
	-moz-border-radius: 5px;
}

input[type=text], input[type=password] {
	background: #f7f7f7;
	border: 1px solid #cccccc;

	display: block;
	width: 80%;
	padding: 0.125em 0.5em 0 0.5em;
}

input[type=submit] {
	background: #9a6059;
	color: #ffffff;
	border: 1px dotted #cfb5b2;
	text-transform: uppercase;
	font-weight: bold;

	width: 5em;
	height: 2em;
}

/* forms below a challenge description */

.token-submission, .level-start {
	border-top: 3px solid #cccccc;
	margin-top: 1em;
}

