.infobox {
	-moz-border-radius: 3px;
	     border-radius: 3px;
	padding: 2px 3px 2px 30px;
	border: 1px solid;
	background: 9px 3px no-repeat;
}

.infobox em {
	font-style: normal;
	font-weight: bold;
}

.notice {
	           color: #827a30;
	    border-color: #e7df8a;
	background-color: #ffffcc;
	background-image: url(../images/icons/notice-trans.png);
}

.error {
	           color: #993300;
	    border-color: #eebeb1;
	background-color: #ffe6db;
	background-image: url(../images/icons/error-trans.png);
}

.success {
	           color: #398c33;
	    border-color: #c7ea8b;
	background-color: #e8fecd;
	background-image: url(../images/icons/success-trans.png);
}

