<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content=
"text/html; charset=utf-8" />
<title>About</title>
<link rel="stylesheet" href="css/screen.css" type="text/css"
media="screen, projection" />
<link rel="stylesheet" href="css/theme.css" type="text/css" media=
"screen, projection" />
</head>
<body>
<div class="fullwidth_box">
<div class="sbox">
<p><b>Intercensor Project</b><br />
<br/><b>Project Team</b></p>
<ul>
<li>Daniel Friesel (derf0)</li>
<li>Maximilian Gass (mxey)</li>
<li>Sebastian Muszytowski (muzy)</li>
<li>Lars Stoltenow (penma)</li>
</ul>
<p><b>Contributors</b></p>
<ul>
<li>Jens Adam (byte)</li>
</ul>
<div class="clear"></div>
</div>
<div class="footer">Intercensor Project created by the <a href=#">Intercensor Team</a></div>
</div>
</body>
</html>
