<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content=
"text/html; charset=utf-8" />
<title>Dashboard</title>
<link rel="stylesheet" type="text/css" href="css/intercensor.css" />
</head>
<body>

<ul id="navigation">
	<li><a href="#" id="nav-dashboard" class="nav-selected">Dashboard</a></li>
	<li><a href="#" id="nav-challenges">Challenges</a></li>
	<li><a href="#" id="nav-statistics">Statistics</a></li>
	<li><a href="#" id="nav-options"   >Options</a></li>
	<li><a href="#" id="nav-logout"    >Logout</a></li>
</ul>

<div class="maincol maincol-left">
	<div class="mainbox challenge" id="current-challenge">
		<h2>Your current challenge: <strong>Ferengi</strong></h2>
		<img src="images/achievements/vendetta.png" alt="[Challenge icon]" />
		<p>Here is some text which describes the current challenge in sufficient
		length that this space can be completely flooded with useless blindtext.</p>
		<p>Which noone is going to read, because noone really reads blindtext. Except
		you, apparently, it must be you, cause if not you, then noone. Heh.</p>
		<p>Of course more than one paragraph of text is possible...</p>
		<p>Also noone seemed to care about the completely unrelated pic so far.</p>

		<form class="token-submission" action="#">
			<p class="infobox error">The solution you entered is not correct.</p>
			<p>
				<label for="token">Enter token to complete challenge:</label>
				<input  id="token" type="text" />
				<input type="submit" value="Submit" />
			</p>
		</form>
	</div>
</div>

<div class="maincol maincol-right">
	<div class="mainbox" id="status">
		<h2>Status</h2>
		<p class="infobox notice">You are currently playing the <em>Ferengi</em> level.</p>
		<p class="infobox success">You are now logged in as <em>Bernd</em>.</p>
	</div>

	<div class="mainbox" id="latest-challenges">
		<h2>Latest challenges</h2>

		<h3>Injection</h3>
		<img src="images/achievements/injection_32.png" alt="[Challenge icon]" />
		<address>2010-12-31</address>

		<h3>Record Breaker</h3>
		<img src="images/achievements/tape_32.png" alt="[Challenge icon]" />
		<address>2010-12-30</address>
	</div>
</div>

<address id="attribution">Intercensor Project created by the <a href="#">Intercensor Team</a></address>

</body>
</html>
