<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content=
"text/html; charset=utf-8" />
<title>Dashboard</title>
<link rel="stylesheet" type="text/css" href="css/intercensor.css" />
</head>
<body>

<ul id="navigation">
	<li><a href="#" id="nav-dashboard" >Dashboard</a></li>
	<li><a href="#" id="nav-challenges" class="nav-selected">Challenges</a></li>
	<li><a href="#" id="nav-statistics">Statistics</a></li>
	<li><a href="#" id="nav-options"   >Options</a></li>
	<li><a href="#" id="nav-logout"    >Logout</a></li>
</ul>

<div class="maincol maincol-left">
	<div class="mainbox challenge-overview">
		<h2>Unsolved challenges</h2>

		<div class="challenge">
			<h3><a href="#">Record Breaker</a></h3>
			<a href="#"><img src="images/achievements/tape.png" alt="" /></a>
			<p>Here is some text which describes the current challenge in sufficient
			length that this space can be completely flooded with useless blindtext.</p>
			<p>It must be assumed that there is such a large amount of text that it might
			completely overflow. Obviously the layout must not break!</p>
		</div>

		<div class="challenge">
			<h3><a href="#">Injection</a></h3>
			<a href="#"><img src="images/achievements/injection.png" alt="" /></a>
			<p>Some challenge text here, but one that is not too revealing.</p>
		</div>

		<div class="challenge">
			<h3><a href="#">What the fuck?</a></h3>
			<a href="#"><img src="images/achievements/vendetta.png" alt="" /></a>
			<p>stuff, stuff, stuff, stuff, stuff, stuff, stuff, stuff, stuff, stuff</p>
		</div>
	</div>

	<div class="mainbox challenge-overview">
		<h2>Solved challenges</h2>

		<div class="challenge">
			<h3><a href="#">Stuff</a></h3>
			<a href="#"><img src="images/achievements/vendetta.png" alt="" /></a>
			<p>stuff...</p>
		</div>

		<div class="challenge">
			<h3><a href="#">Stuff</a></h3>
			<a href="#"><img src="images/achievements/injection.png" alt="" /></a>
			<p>stuff...</p>
		</div>

		<div class="challenge">
			<h3><a href="#">What the fuck?</a></h3>
			<a href="#"><img src="images/achievements/vendetta.png" alt="" /></a>
			<p>stuff, stuff, stuff, stuff, stuff, stuff, stuff, stuff, stuff, stuff</p>
		</div>
	</div>
</div>

<div class="maincol maincol-right">
	<div class="mainbox" id="status">
		<h2>Status</h2>
		<p class="infobox notice">You are currently playing the <em>Ferengi</em> level.</p>
		<p class="infobox success">You are now logged in as <em>Bernd</em>.</p>
	</div>
</div>

<address id="attribution">Intercensor Project created by the <a href="#">Intercensor Team</a></address>

</body>
</html>
