<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content=
"text/html; charset=utf-8" />
<title>Dashboard</title>
<link rel="stylesheet" type="text/css" href="css/intercensor.css" />
</head>
<body>

<ul id="navigation">
	<li><a href="#" id="nav-dashboard" >Dashboard</a></li>
	<li><a href="#" id="nav-challenges" class="nav-selected">Challenges</a></li>
	<li><a href="#" id="nav-statistics">Statistics</a></li>
	<li><a href="#" id="nav-options"   >Options</a></li>
	<li><a href="#" id="nav-logout"    >Logout</a></li>
</ul>

<div class="maincol maincol-left">
	<div class="mainbox" id="challenge-overview">
		<h2>Challenges</h2>
		<ul>
			<li><a href="#"><img src="images/achievements/injection.png" alt="" />Injection</a></li>
			<li><a href="#"><img src="images/achievements/tape.png" alt="" />Record Breaker</a></li>
			<li><a href="#"><img src="images/achievements/vendetta.png" alt="" />...whatever?</a></li>
			<li><a href="#"><img src="images/achievements/tape.png" alt="" />...dude</a></li>
			<li><a href="#"><img src="images/achievements/vendetta.png" alt="" />still using the</a></li>
			<li><a href="#"><img src="images/achievements/injection.png" alt="" />same icons because</a></li>
			<li><a href="#"><img src="images/achievements/vendetta.png" alt="" />I'm too lazy</a></li>
			<li><a href="#"><img src="images/achievements/tape.png" alt="" />to copy the others</a></li>
		</ul>
	</div>
</div>

<div class="maincol maincol-right">
	<div class="mainbox" id="status">
		<h2>Status</h2>
		<p class="infobox notice">You are currently playing the <em>Ferengi</em> level.</p>
		<p class="infobox success">You are now logged in as <em>Bernd</em>.</p>
	</div>

	<div class="mainbox" id="latest-challenges">
		<h2>Latest challenges</h2>

		<h3>Injection</h3>
		<img src="images/achievements/injection_32.png" alt="[Challenge icon]" />
		<address>2010-12-31</address>

		<h3>Record Breaker</h3>
		<img src="images/achievements/tape_32.png" alt="[Challenge icon]" />
		<address>2010-12-30</address>
	</div>
</div>

<address id="attribution">Intercensor Project created by the <a href="#">Intercensor Team</a></address>

</body>
</html>
