<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content=
"text/html; charset=utf-8" />
<title>Dashboard</title>
<link rel="stylesheet" href="css/screen.css" type="text/css"
media="screen, projection" />
<link rel="stylesheet" href="css/theme.css" type="text/css" media=
"screen, projection" />
</head>
<body>
<div class="fullwidth">
<div class="wrapper">
<div class="nav">
<ul>
<li class=
"current"><a href="#"><img src="images/menu/dashboard.png" alt="" border="0" />Dashboard</a></li>
<li><a href="#"><img src="images/menu/challenges.png" alt=""
border="0" />Challenges</a></li>
<li><a href="#"><img src="images/menu/statistics.png" alt=""
border="0" />Statistics</a></li>
<li><a href="#"><img src="images/menu/options.png" alt="" border=
"0" />Options</a></li>
<li><a href="#"><img src="images/menu/logout.png" alt="" border=
"0" />Logout</a></li>
</ul>
</div>
<div class="width_65 mainleft">
<div class="mainbox">
<div class="mainhead">Your current challenge: <b>Ferengi</b></div>
<div class="maintext"><img src=
"images/placeholder_archievement.png" alt="" border="0" />
<p>Here is some text which describes the current challenge. This
challenge here for instance is named Ferengi but noone really cares
about this text because noone should care at all. I am the hero! I
like it :) If you do not like it it is not myy fault. Well if you
find any grammar mistake feel free to print it and burn it! So how
about a little statistic data about the current challenge? Maybe
how much users succeeded? Noo that would be pointless, but a form
for tiken submission would be really nice, isn't it? I'd appreciate
it! Because finish the challenge is not hard then!</p>
<hr />
<br />
<form action="#"><label>Insert token to solve the
challenge!</label> <input type="text" class="text" /> <input type=
"submit" class="submit" value="submit" /></form>
</div>
</div>
</div>
<div class="width_35 mainright">
<div class="mainbox">
<div class="mainhead">Status Messages</div>
<div class="maintext">
<div class="notice">Your are currently playing the <b>Ferengi</b>
level.</div>
<div class="success">You are logged in as <b>Anonymous</b>.</div>
</div>
</div>
<div class="mainbox">
<div class="mainhead">Latest Challenges</div>
<div class="maintext">
<div class="post"><a href="#">Mantrain</a>
<p><b>12/31/2010</b> - You gained the <i>Mantrain</i>
Archievement.</p>
</div>
<div class="post"><a href="#">Record Breaker</a>
<p><b>12/30/2010</b> - You gained the <i>Record Breaker</i>
Archievement.</p>
</div>
</div>
</div>
</div>
<div style="clear:both;"></div>
</div>
<div class="footer">Intercensor Project created by the <a href=#">Intercensor Team</a></div>
<div style="clear:both;"></div>
</div>
</body>
</html>
