<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content=
"text/html; charset=utf-8" />
<title>Options1</title>
<link rel="stylesheet" href="css/screen.css" type="text/css"
media="screen, projection" />
<link rel="stylesheet" href="css/theme.css" type="text/css" media=
"screen, projection" />
</head>
<body>
<div class="fullwidth">
<div class="wrapper">
<div class="nav">
<ul>
<li><a href="#"><img src="images/menu/dashboard.png" alt="" border=
"0" />Dashboard</a></li>
<li><a href="#"><img src="images/menu/challenges.png" alt=""
border="0" />Challenges</a></li>
<li><a href="#"><img src="images/menu/statistics.png" alt=""
border="0" />Statistics</a></li>
<li class="current"><a href="#"><img src="images/menu/options.png" alt="" border="0" />Options</a></li>
<li><a href="#"><img src="images/menu/logout.png" alt="" border=
"0" />Logout</a></li>
</ul>
</div>
<div class="width_65 mainleft">
<div class="mainbox">
<div class="mainhead">New password:</div>
<div class="maintext">
<form action="#"><label>New password:</label> <input type=
"password" class="text" /> <label>New password (repeat):</label>
<input type="password" class="text" /><br />
<input type="submit" class="submit" value="submit" /></form>
</div></div></div>
<div class="width_35 mainright">
<div class="mainbox">
<div class="mainhead">Privacy settings:</div>
<div class="maintext">
<form action="#"><label>If you enable this checkbox your username
<b>testuser</b> will be shown as <b>Anonymous</b> in
statistics.</label><br />
<input type="checkbox" /><br />
<br />
<input type="submit" class="submit" value="update" /></form>
</div>
</div>
</div>
<div style="clear:both;"></div>
</div>
<div class="footer">Intercensor Project created by the <a href=#">Intercensor Team</a></div>
<div style="clear:both;"></div>
</div>
</body>
</html>
